# Data Science Pandas

## Tasks Today:

1) <b>Pandas</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Importing <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Tabular Data Structures <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - from_dict() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - read_csv() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) <b>In-Class Exercise #1</b> <br>
  &nbsp;&nbsp;&nbsp;&nbsp; d) Built-In Methods <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - head() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - tail() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - shape <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - describe() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - sort_values() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - keys() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - .columns <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Accessing Data <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Indexing <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - df.loc <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - df.iloc <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) <b>In-Class Exercise #2</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Filtration <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Conditionals <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subsetting <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Column Transformations <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Generating a New Column w/Data <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - User Defined Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Aggregations <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - groupby() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Type of groupby() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - mean() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - groupby() w/Multiple Columns <br>

## Pandas <br>

<p>Pandas is a flexible data analysis library built on top of NumPy that is excellent for working with tabular data. It is currently the de-facto standard for Python-based data analysis, and fluency in Pandas will do wonders for your productivity and frankly your resume. It is one of the fastest ways of getting from zero to answer in existence. </p>

<ul>
    <li>Pandas is a Python module, written in C. The Pandas module is a high performance, highly efficient, and high level data analysis library. It allows us to work with large sets of data called dataframes.</li>
    <li>Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.)</li>
    <li>Dataframe = Spreadsheet (has column headers, index, etc.)</li>
</ul>

### Importing

In [3]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\ridwa\anaconda3\envs\red\lib\site-packages (1.3.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\ridwa\anaconda3\envs\red\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\ridwa\anaconda3\envs\red\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\ridwa\anaconda3\envs\red\lib\site-packages (from pandas) (1.21.3)
Requirement already satisfied: six>=1.5 in c:\users\ridwa\anaconda3\envs\red\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [4]:
import numpy as np
import pandas as pd

# always use pd, standard for data science

In [5]:
pd

In [6]:
!pip install faker

Requirement already satisfied: faker in c:\users\ridwa\anaconda3\envs\red\lib\site-packages (9.7.1)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\ridwa\anaconda3\envs\red\lib\site-packages (from faker) (2.8.2)
Requirement already satisfied: text-unidecode==1.3 in c:\users\ridwa\anaconda3\envs\red\lib\site-packages (from faker) (1.3)
Requirement already satisfied: six>=1.5 in c:\users\ridwa\anaconda3\envs\red\lib\site-packages (from python-dateutil>=2.4->faker) (1.16.0)

In [7]:
from faker import Faker

fake = Faker()

In [8]:
fake.name()

'Melissa Lee'

### Tabular data structures <br>
<p>The central object of study in Pandas is the DataFrame, which is a tabular data structure with rows and columns like an excel spreadsheet. The first point of discussion is the creation of dataframes both from native Python dictionaries, and text files through the Pandas I/O system.</p>

In [9]:
names = [fake.first_name() for i in range(10)]
ages = np.random.randint(18,65, 10)

my_people = {
    
    'name': names,
    'age': ages
}

my_people

{'name': ['Curtis',
  'Shawn',
  'Gary',
  'Stephanie',
  'Kelly',
  'Andrew',
  'Kelsey',
  'Alan',
  'Jennifer',
  'John'],
 'age': array([42, 25, 25, 41, 28, 45, 60, 36, 28, 42])}

##### from_dict()

<p>Let's convert our not-so-useful-for-analysis dict into a Pandas dataframe. We can use the from_dict function to do this easily using Pandas:</p>

In [10]:
data = pd.DataFrame.from_dict(my_people)
data

        name  age
0     Curtis   42
1      Shawn   25
2       Gary   25
3  Stephanie   41
4      Kelly   28
5     Andrew   45
6     Kelsey   60
7       Alan   36
8   Jennifer   28
9       John   42

##### read_csv()

<p>Pandas also provides a function to read a csv into a DataFrame. Let's take a look at this using the Marathon data from yesterday's class</p>

In [11]:
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)
marathon = pd.read_csv('../day-1/boston_marathon2017_edited.csv', sep=',')
marathon

FileNotFoundError: [Errno 2] No such file or directory: '../day-1/boston_marathon2017_edited.csv'

### In-Class Exercise #1 - Read in the Spotify CSV<br>
<p>Use the pandas read_csv() method to read in the stats about the top 100 streamed songs on spotify.</p>

In [ ]:
spot = pd.read_csv('spotify_top_100_streamed.csv', sep=',')
spot

### Built-In Methods <br>

<p>These are methods that are frequently used when using Pandas to make your life easier. It is possible to spend a whole week simply exploring the built-in functions supported by DataFrames in Pandas. Here however, we will simply highlight a few ones that might be useful, to give you an idea of what's possible out of the box with Pandas:</p>

##### head()

In [ ]:
# DataFrame.head()  -- Accepts integer parameter(gives access to more rows)
spot.head()

##### tail()

In [ ]:
# DataFrame.tail()  -- Accepts integer parameter(gives access to more rows)
spot.tail()

##### shape

In [ ]:
# The dataframe has a shape property, just like a NumPy matrix. 
# print(df.shape) -- DataFrame.shape -- No Parameter
spot.shape
data.shape

##### keys()

In [ ]:
# Access all of the keys/columns of the dataframe
# Dataframe.keys()
print(spot.keys())
spot.keys().tolist()

##### describe() <br>
<p>Probably one of the most important methods to understand...</p>

In [ ]:
# Collect summary statistics in one line
# DataFrame.describe() -- Accepts parameters (include, exclude)
spot.describe()

# .info()

In [ ]:
import time
spot.info()

##### sort_values()

In [ ]:
# Sort based on many labels, with left-to-right priority
# sorted_data = data.sort_values('ages').reset_index()

# DataFrame.sort_values('key')

sorted_ages = data.sort_values('age', ascending=False)
sorted_ages.reset_index(drop=True)

In [ ]:
sorted_ages

##### .columns

In [ ]:
# will show all cols headers
# DataFrame.columns is an attribute

spot.columns

### Accessing Data <br>

##### Indexing

<p>You can directly select a column of a dataframe just like you would a dict. The result is a Pandas 'Series' object.</p>

In [ ]:
# 
print(type(spot))
# 
title = spot['title']
print(title)

In [ ]:
print(title[21])
arr = spot['artist']
print(arr[21])

#### Accessing Multiple Columns

In [ ]:
# fdafkjjhaklfhfehlifbdkbfakldjhflea
title_artist = spot[['title', 'artist']]
print(title_artist)

##### df.loc

<p>Along the horizontal dimension, rows of Pandas DataFrames are Row objects. You will notice there is a third column present in the DataFrame - this is the $\textit{index}$. It is automatically generated as a row number, but can be reassigned to a column of your choice using the DataFrame.set_index(colname) method. We can use it to access particular Pandas $\textit{rows}$, which are also Series objects:</p>

In [ ]:
data

In [ ]:
# 
print(data.loc[0])

In [ ]:
# Multiple rows
print(data.loc[[0, 3, 5]])
# splice
print(data.loc[2:6])

In [ ]:
sorted_ages.loc[1:6]

In [ ]:
data.loc[np.arange(10) >5]

##### df.iloc
<p>df.iloc is purely integer-location based indexing for selection by position.</p>

In [ ]:
data

In [ ]:
data.iloc[0]

### In-Class Exercise #2 - Most Upbeat Songs in Top 100 <br>
<p>Return back a dataframe showing the Title, Artist, Year and Beats Per Minute for the 10 most upbeat songs (as determined by BPM)</p>

In [ ]:
most_upbeat = spot[['title', 'artist', 'year', 'beats.per.minute']]

# spot



main = most_upbeat.sort_values('beats.per.minute', ascending=False).head(10)

main.set_index('artist')

### Filtration <br>
<p>Let's look at how to filter dataframes for rows that fulfill a specific conditon.</p>

##### Conditionals

In [ ]:
# Conditional boolean dataframe
data['age']

In [ ]:
data['age'] >= 40

##### Subsetting

In [ ]:
# exactly like numpy
data[data['age'] >= 40]

In [ ]:
data[(data['age'] >= 40) | (data['name'] == 'Lisa')]

### Column Transformations <br>
<p>Rarely, if ever, will the columns in the original raw dataframe read from CSV or database table be the ones you actually need for your analysis. You will spend lots of time constantly transforming columns or groups of columns using general computational operations to produce new ones that are functions of the old ones. Pandas has full support for this: Consider the following fake dataframe containing member since year and the yearly dues for member:</p>

In [ ]:
pay_options = {
    0: 100,
    1: 150,
    2: 200
}

membership = {
    'member_id': [np.random.randint(1000,2000) for x in range(20)],
    'name': [fake.name() for n in range(20)],
    'member_since': [np.random.randint(2000, 2021) for i in range(20)],
    'yearly_dues': [pay_options[np.random.randint(0,3)] for b in range(20)]
}

customers = pd.DataFrame.from_dict(membership)

In [ ]:
customers

In [ ]:
customers['customer_tenure'] = 2021 - customers['member_since']

In [ ]:
customers['active'] = True

In [ ]:
customers

In [ ]:
customers['total_paid'] = customers['yearly_dues'] * customers['customer_tenure']

In [ ]:
customers

In [ ]:
from datetime import datetime

In [ ]:
datetime.utcnow()

##### Generating a New Column w/Data

##### User Defined Function

<p>If what you want to do to a column that can't be represented by simple mathematical operations, you can write your own $\textit{user defined function}$ with the full customizability available in Python and any external Python packages, then map it directly onto a column or row. Let's create a function that will return the loyalty status of a member based on their customer tenure. We will then apply that function to each row in our dataframe using the .apply() method:</p>

In [ ]:
def member_loyalty_status(row):
    if row['customer_tenure'] > 15:
        return 'Platinum'
    elif row['customer_tenure'] > 10:
        return 'Gold'
    elif row['customer_tenure'] > 5:
        return 'Silver'
    else:
        return 'Bronze'

    
customers['loyalty_status'] = customers.apply(member_loyalty_status, axis=1)

In [ ]:
customers

### In-Class Exercise #3 - Create Your Own UDF <br>
<p>Using the Spotify data, create your own UDF which creates a new column called 'Banger' and puts every song with either an energy over 65 or danceability over 70 with a result of 'Yes' in the column if it is and 'No' if it is not.</p>

In [ ]:
# spot

def Banger(row):
    if row['energy'] > 65 or row['danceability'] > 70:
        return 'Yes'
    else:
        return 'No'
   

spot['Banger'] = spot.apply(Banger, axis=1)

In [ ]:
spot[['title', 'artist', 'Banger']].head(10)

### Aggregations <br>
<p>The raw data plus some transformations is generally only half the story. Your objective is to extract actual insights and actionable conclusions from the data, and that means reducing it from potentially billions of rows to some summary statistics via aggregation functions.</p>

##### groupby() <br>
<p>The .groupby() function is in some ways a 'master' aggregation.</p> 

<p>Data tables will usually reserve one column as a primary key - that is, a column for which each row has a unique value. This is to facilitate access to the exact rows of a data table that a user wants to view. The other columns will often have repeated values, such as the age groups in the above examples. We can use these columns to explore the data using the Pandas API:</p>

In [ ]:
# print(customers)
print(customers.groupby('loyalty_status'))

In [ ]:
customers.groupby('loyalty_status').count()

In [ ]:
customers.groupby('loyalty_status').sum()

##### Type of groupby()

<p>The result is a new dataframe, the columns of which all contain the counts of the grouped field. Notice the type of a grouped dataframe:</p>

<p>This is because simply grouping data doesn't quite make sense without an aggregation function like count() to pair with. In this case, we're counting occurances of the grouped field, but that's not all we can do. We can take averages, standard deviations, mins, maxes and much more! Let's see how this works a bit more:</p>

##### mean()

In [ ]:
customers.groupby('loyalty_status').mean()[['yearly_dues', 'member_since']]

##### groupby() w/Multiple Columns

<p>We end up with the average age of the groups in the last column, the average tenure in the tenure column, and so on and so forth. You can even split the groups more finely by passing a list of columns to group by:</p>

In [ ]:
customers.groupby(['loyalty_status', 'yearly_dues']).mean()

### Homework Excersise #1 - White Sox Data<br>
<p>Return a dataframe showing the White Sox qualified hitters* in order from best to worst XBHA**.</p>
<p>*A hitter must have at least 100 At Bats (AB's) to qualify</p>
<p>** XBHA is calculated as the number of extra base hits (2B, 3B, HR) divided by the number of At Bats (AB's)</p>

In [13]:
sox = pd.read_csv('whitesox_2021_hitting.csv', sep=',')

sox

# UDF

def hitter(row):
    if row['AB'] >= 100:
        return 'qualified'
    return 'unqualified'
        
sox['Qualification'] = sox.apply(hitter, axis=1) 


sox['XBHA'] = sox['2B'] + sox['3B'] + sox['HR'] / sox['AB']

# sorted_team = sox.sort_values['XBHA', ascending=False]

In [14]:
sox[['Name', 'Age', 'Qualification', 'XBHA']]

               Name  Age Qualification       XBHA
0   Yasmani Grandal   32     qualified   9.082437
1        José Abreu   34     qualified  32.053004
2   Cesar Hernandez   31     qualified   4.015464
3      Tim Anderson   28     qualified  31.032258
4      Yoan Moncada   26     qualified  34.026923
5     Andrew Vaughn   23     qualified  22.035971
6       Luis Robert   23     qualified  23.047273
7        Adam Eaton   32     qualified  10.026455
8   Yermin Mercedes   28     qualified  10.029167
9      Leury Garcia   30     qualified  26.012048
10    Brian Goodwin   30     qualified  11.034043
11     Eloy Jimenez   24     qualified  10.046948
12     Zack Collins   26     qualified  13.020513
13    Nick Madrigal   24     qualified  14.010000
14    Danny Mendick   27     qualified   5.012195
15     Gavin Sheets   25     qualified   8.068750
16       Adam Engel   29     qualified   9.056911
17   Billy Hamilton   30     qualified  11.015748
18        Jake Lamb   30     qualified   2.053097
19      Seby Zavala   27   unqualified   3.053763
20      Jake Burger   25   unqualified   4.026316
21    Romy Gonzalez   24   unqualified   3.000000
22    Nick Williams   27   unqualified   0.000000
23    Luis Gonzalez   25   unqualified   2.000000